#footer
{
    align-items: end;
    background-color: var(--footer-background);
    border-top: 2px solid var(--footer-border-color);
    bottom: 0;
    height: var(--footer-height);
    margin-top: auto;
    width: 100%;
    position: fixed;
    text-align: end;
}

#footer h4
{
    color: var(--author-text-color);
    margin-bottom: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

#footer h4:hover
{
    color: var(--footer-text-hover-color);
}